*{
    margin: 0;
        padding: 0;
        font-size: 1em;
        font-family: Arial, sans-serif;

}

header{
    background-image:linear-gradient(#DDC0B4,#ce9e89), url("k35bg1.jpg");
    height: 115vh;
    background-size: cover;
    background-position: center;
  }

  ul{
    float: right;
    list-style-type: none;
    margin-top: 35px;
  }
  
  ul li{
    display: inline-block;
  }
  
  ul li a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    padding: 5px 20px;
    border: 1px solid transparent;
    border-radius: 5px;
    transition: 0.6s ease;
  }
  
  ul li a:hover{
    background-color: #fff;
    color: #000;
  }
  
  ul li.active a{
    background-color: #fff;
    color: #000;
  }

  .logo img{
    float: left;
    width: 350px;
    height: auto;
    margin-top: -75px;
    max-width: 50%;
    max-height: 50%;
  }
  
  .main{
    max-width: 1200px;
    margin: auto;
  }
  
  .title{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }
  
  .title h1{
    color: rgb(0, 0, 0);
    font-size: 50px;
  }
  
  .buttons{
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%,-50%);
  }
  .btn{
    border: 1px solid rgb(0, 0, 0);
    border-radius: 5px;
    padding: 10px 30px;
    color: rgb(0, 0, 0);
    text-decoration: none;
    transition: 0.6s ease;
    margin: 5px;
  }
  
  .btn:hover{
    background-color: #fff;
    color: #000;
  }

  #myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: rgb(231, 189, 48);
    color: rgb(0, 0, 0);
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
  }
  
  #myBtn:hover {
    background-color: #555;
  }

  .wrapper{
    width: 1000px;
    height: 80vh;
    padding: 35px 15px 5px;
    margin: auto;
  
  }

 

  .wrapper:before,
  .wrapper:after {
        content: "";
        display: table;
        clear: both;
      }

  .wrapper div {
        float: left;
        width: 300px;
        height: 100px;
        margin-top: 95px;
      }

      
  .left{
    margin-left: 35px;
    margin-right: 25px;
    padding: 80px;
    
  }

  .left h1{
      font-size: 3rem;
  }

  .left p{
      size: 1.5rem;
  }

  .right{
      float: right;
      width: 50%;
      shape-outside:url(apec.png);
  }
  
  #boxes {
    content: "";
    display: table;
    clear: both;
  }
  #boxes div {
    float: left;
    height: 470px;
    width: 23%;
    padding: 0 10px;
    margin: 150px;
  }
 
  #column2 {
 
    width: 43%;
  }

  #column2 h2{
    font-size: 3rem;
  }

  #column2 p{
    font-size: 1rem;
  }

  h2 {
    color: #000000;
    text-align: center;
  }

  #s2{
    background-image:linear-gradient(#D1AE9B,#be9c89), url("k35bg1.jpg");
  }

  #s3{
    height: 40vh;
    padding-top: 60px;
  }

  .margin{
      margin-left: 80px;
      margin-right: 50px;
      padding: 15px, 25px;
      text-align: center;
      margin-bottom: 100px;
  }

  .margin h1{
    font-size: 3rem;
  }

  .margin p{
    font-size: 1.25rem;
  }

  section h1{
      line-height: 3rem;
  }

  hr { 
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border: 5px solid rgb(187, 117, 60);
    border-radius: 5px;
  } 

  


  footer {
    text-align: center;
    padding: 3px;
    height: 15vh;
    background-color: #AA6F5D;
    color: white;
  }

  footer h2{
    margin-top: 3rem;
  }